extends ../../node_modules/pug-bootstrap/_bootstrap.pug
append styles
    link(href='../css/style.css', rel='stylesheet')
    body
        nav.navbar.navbar-inverse
            .container-fluid

                ul.nav.navbar-nav
                    li.active
                        a(href="/") Home
                    li
                        a(href="/user/"+ session.user._id) Your Profile
                    li
                        a(href="/allUsers") All Users
                button(class="btn btn-primary navbar-btn pull-right" onclick="window.location.href='/signout'") Sign out
                p.navbar-text.pull-right #{session.user.username}

                
        footer.footer
            .container
                span.text-muted © Copyright 2018. Powered by Nil Karadağ.


