extends ../../node_modules/pug-bootstrap/_bootstrap.pug
append styles
    link(href='../css/style.css', rel='stylesheet')
    body
        nav.navbar.navbar-inverse
            .container-fluid

                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/allUsers") All Users
                button(class="btn btn-primary navbar-btn pull-right" onclick="window.location.href='/signout'") Sign out
                a(href="/user/" + session.user._id class="navbar-text pull-right") #{session.user.username}

        footer.footer
            .container.footer-content
                img#profilePic(src="../images/profile_pic_frame.png" alt="Profile Picture")
                span.text-muted © Copyright 2018. Powered by Nil Karadağ.
