extends ../../node_modules/pug-bootstrap/_bootstrap.pug
append styles
    link(href='../css/style.css', rel='stylesheet')
block body
    .container.formContainer
        form( class='form-signup' method='post')
            h2.form-signup-heading Sign In
            br
            label.sr-only(for='username') Username
            - if (typeof(username) !== 'undefined')
                input.form-control(name='username' type='username' value=username, placeholder='Username', required='', autofocus='')
            - else
                input.form-control(name='username' type='username', placeholder='Username', required='', autofocus='')

            label.sr-only(for='password') Password
            input#inputPassword.form-control(name='password' type='password', placeholder='Password', required='')
            br
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        br
        a(href='/signup') Sign Up
        br
        br
        - if (typeof(message) !== 'undefined')
            div.alert.alert-danger #{message}

    footer.footer
        .container.footer-content
            img#profilePic(src="../images/profile_pic_frame.png" alt="Profile Picture")
            span.text-muted © Copyright 2018. Powered by Nil Karadağ.