doctype
html(lang='en')
    head
        title Login
    body

        form(method='post')
            label(for='username') Username
            - if (typeof(username) !== 'undefined')
                input(type='text', name='username' value=username)
            - else
                input(type='text', name='username')
            p
            label(for='password') Password
            input(type='password', name='password')
            p
            input(type='submit' value='Log in')
        p
        a(href="/signup") Sign Up

        h4(style="color: red;") #{message}

