extends ../../node_modules/pug-bootstrap/_bootstrap.pug
append styles
    // Custom styles for this template
    link(href='../css/login.css', rel='stylesheet')
block body
    #signInContainer.container
        form( class='form-signin' method='post')
            h2.form-signin-heading Please sign in
            br
            label.sr-only(for='username') Username
            - if (typeof(username) !== 'undefined')
                input.form-control(name='username' type='username' value=username, placeholder='Username', required='', autofocus='')
            - else
                input.form-control(name='username' type='username', placeholder='Username', required='', autofocus='')
            label.sr-only(for='password') Password
            input#inputPassword.form-control(name='password' type='password', placeholder='Password', required='')
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        br
        a(href='/signup') Sign Up
        br
        br
        - if (typeof(message) !== 'undefined')
            div.alert.alert-danger #{message}
