extends layout.pug

block body
    block navbar
    block content
    .container
        h1 Hi #{session.user.firstName} #{session.user.lastName}
        p.big-font This is an authenticated Node.JS Express Server which serves a simple user website which allows CRUD operations on a REST API.

