doctype
html(lang='en')
    head
        title Hello!
    body
        h1 Hi #{session.user.firstName} #{session.user.lastName}
        p Navigate to
            ul
                li: a(href="/allUsers") All users
                li: a(href="/user/" + session.user._id) Your profile
                li: a(href="/signout") Sign out
                each message in flash
                    h4(style="color: green;") #{message}


