doctype
html(lang='en')
    head
        title Hello!
    body
        h1 Welcome to Nil's authenticated Node.JS Express Server
        p Navigate to
            ul
                li: a(href="/api/users") All users
                li: a(href="/api/users/" + session.user.id) Your profile

