doctype
html(lang='en')
    head
        title Hello!
    body
        h1 Hi #{session.user.firstName} #{session.user.lastName}
        p Navigate to
            ul
                li: a(href="/api/users") All users
                li: a(href="/api/users/" + session.user.id) Your profile


